# Python for Beginers

**Here we will learn all the basics of python and by the end of these py programs you will be good enough to write your own simple codes and perform some simple operations**

<span style="color:purple">**Foremost we need to learn how to make notes in Jupyter notebook**</span>  
We need to get out of the typing mode by pressing `esc` and then pressing `M` we get inside the markdown option and we can document the notes in our notebook.

Then we need to learn what are the different data types that we normally use to code in python.

The main data types that we use to code in python are:  
<span style='color:darkred'>**1. Integer (int)  
2. String (str)  
3. Float (float)  
4. Complex (complex)  
5. Bool (bool)  
6. Tuple (tuple)  
7. List (list)  
8. Dictionary (dict)**
</span>

Apart from these the first things that you need to know that coding in python is very simple.  
We can use various libraries that are handy and are easy to use and get results.  
We can calculate easily in Python and we dont need to assign numbers to variables for simple operations

# Integers

Integers are numbers that don't hold any decimal values eg. 2,3,4,-2,-4 etc are all integers.

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesInt.png" width="600">
</a>

In [10]:
# we can see the type of any data type by using type command
type(2)

int

In [11]:
type(-2)

int

In [3]:
#Simple operation
4+6

10

In [6]:
#We use '**' to find exponential power for a number
4**2

16

In [7]:
#we use // to find the quotient for any number when divided by the 2nd number
13//2

6

In [8]:
#We use % to find the remainder from division of the number by 2nd number
13%2

1

# String

Strings are letters or group of letters or words that are necessary for operation.  
They are always written inside `"<string>"`

In [12]:
type('Bad')

str

In [14]:
#we can multiply strings
'Bad '*3

'Bad Bad Bad '

In [17]:
#we can even add strings called as catenation
'Bad '+'Boy'

'Bad Boy'

We can use both `" "` and `' '` in strings depending on the situations and the strings that we are using.

In [18]:
'he haven't got what he desired'

SyntaxError: invalid syntax (<ipython-input-18-88df883ef973>, line 1)

In [19]:
"He haven't got what he desired"

"He haven't got what he desired"

# Float

Floats are kind of numbers which have decimals in them. eg. 2.3 , 3.4, 2.0

Floats are necessary as they give precisions.  
We can change the accuracy value to whatever we want

In [31]:
a=13.23424234

In [39]:
type(a)

float

In [40]:
# we have changed the accuracy of the float by using '.2f'
b=float('%.2f' %round(a, 2))

In [37]:
type(b)

float

In [38]:
b

13.23

In [42]:
#This is how we round off a float
round(b,1)

13.2

# Boolean

Boolean is nothing but yes or no. In python the boolean values are `True` and `False`.  
Boolean are used to give conditions and python operates the logic and returns wheather the value is true or false

In [43]:
2>3

False

In [45]:
3<1

False

In [46]:
type(True)

bool

These is how Boolean values are returned for logical operations.

# Changing data types

#### 1. From integer to float

In [48]:
#we are assigning a variable to an integer
a=4
type(a)

int

In [52]:
b=float(a)
b

4.0

In [53]:
type(b)

float

<span style='color:blue'> Here we can see that we have assigned a value to `a` which was of type `int`  
then we changed the type of `a` to `float` by assigning the value to `b`</span>

### 2. From float to Integer

In [55]:
#we already have the value of b
b

4.0

In [58]:
c=int(b)

In [59]:
type(c)

int

Thus we can see how we have changed the type of `b` from `float` to `int`

### 3. From string to integer

In [62]:
type('1')

str

In [63]:
int('1')

1

In [64]:
type(int('1'))

int

<span style='color:red'> We can change a number string to integer   
But cannot change letters to integers</span>

In [65]:
type('one')

str

In [66]:
int('one')

ValueError: invalid literal for int() with base 10: 'one'

### 4. From boolean

In [67]:
type(True)

bool

In [68]:
int(True)

1

In [69]:
type(int(True))

int

In [70]:
bool(0)

False

Thus we can change these from boolean to integer and vice versa.

# Variables

We use variables to save the assigned value to a variable.

In [71]:
a=4

So here we can see that there is a value assigned to variable `a`

In [72]:
a

4

Similarly we can assign any value to any variable and the variable can be anything.  
We must take care that we dont use variable names which are assigned functions in Python which will lead to error in the program execution.