# Tuples

**A tuple is a group of objects which has a indexing as well as can be called by index also tuples are immutables i.e. the inside values of tuples can't be changed**

In [1]:
#Tuples can be sliced as well as used for indexing as well as can be catenated.
a=(1,2,"happy",True)

In [2]:
a[-1]

True

In [7]:
b=('cow',10)
#if there was a single element in b then we can't use b as a tuple but b will then act as a string.

In [8]:
a+b

(1, 2, 'happy', True, 'cow', 10)

In [10]:
#slicing
a[1:3]

(2, 'happy')

In [15]:
a[-3:-1]

(2, 'happy')

In [16]:
#sorting out tuples
c=(4,12,31,2,43,3,12,123)

In [18]:
d=sorted(c)

In [19]:
d

[2, 3, 4, 12, 12, 31, 43, 123]

### **tuples nesting**
tuples nesting is a method where tuples can have another set of tuples inside them. This is called tuple nesting.

In [20]:
e=(2,3,("Big",4),(True,'battle'))

In [22]:
e[2]

('Big', 4)

In [24]:
e[2][0]
#here the first value is for the first tuple while the 2nd value is for the 2nd tuple variable

'Big'

In [25]:
#again we can even go further into the tuple by again indexing the tuple
e[2][0][1]

'i'

# Lists

+ Lists are like tuples but they are mutable i.e the values in the list can be changed unlike those values of tuples. 
+ Lists are inside the [].

In [26]:
list1=['big',2,True,('ball',4,False),['bat',10]]

In [29]:
#indexing in tuples
list1[3]

('ball', 4, False)

In [30]:
list1[3][2]

False

In [31]:
list1.append('Goru')

In [32]:
list1

['big', 2, True, ('ball', 4, False), ['bat', 10], 'Goru']

#### list.append() can only add one element to the list.

In [33]:
list1.append(5,False,'mad')

TypeError: append() takes exactly one argument (3 given)

In [34]:
list1.append([2,42,'bran'])

In [35]:
list1
#here it is seen that only one element is added to tje list

['big', 2, True, ('ball', 4, False), ['bat', 10], 'Goru', [2, 42, 'bran']]

In [36]:
# to add multiple list inside a list we need to use the function extend
list1.extend([4,2,True,'goat'])

In [37]:
list1

['big',
 2,
 True,
 ('ball', 4, False),
 ['bat', 10],
 'Goru',
 [2, 42, 'bran'],
 4,
 2,
 True,
 'goat']

**when we use pop we can delete numbers or elements from the list. We need to use indexing to delete a number or element from the list.**

In [38]:
#we use the function pop to remove a certain element from the list.
list1.pop(6)

[2, 42, 'bran']

In [39]:
list1

['big', 2, True, ('ball', 4, False), ['bat', 10], 'Goru', 4, 2, True, 'goat']

Even we can use **del(list[index])** to delete a specific number

In [40]:
#we can also use del to delete an element from the list
del(list1[0])

In [41]:
list1

[2, True, ('ball', 4, False), ['bat', 10], 'Goru', 4, 2, True, 'goat']

We can convert list string to list by using the **string.split** function

In [42]:
"harry potter".split()

['harry', 'potter']

In [46]:
#we use delimitter inside the split to seperate the string
"2,3,b,r".split(',')

['2', '3', 'b', 'r']

**List aliasing**

---
When we use aliasing we alias a list A to another list B. But when we change the value of any element in A the value in B changes automatically.

In [53]:
A=['Bad',3,'Boy']

In [54]:
B=A

In [55]:
B

['Bad', 3, 'Boy']

In [56]:
A[0]="Bon"

In [57]:
B

['Bon', 3, 'Boy']

**List copy**

---
When we copy a list the elements are copied but unlike aliasing when we change a element of one list the other element of the other list don't change

In [58]:
C=['Poor',5,33,'Bad']

In [59]:
D=C[:]

In [60]:
D

['Poor', 5, 33, 'Bad']

In [61]:
C[0]=True

In [62]:
C

[True, 5, 33, 'Bad']

In [63]:
D

['Poor', 5, 33, 'Bad']

In [64]:
'1,2,3,4'.split(',')

['1', '2', '3', '4']