# Dictionary and Sets

**DICTIONARY**

A dictionary consists of keys and values. It is helpful to compare a dictionary to a list. Instead of the numerical indexes such as a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.

**A Dictionary generation/creation**

In [2]:
A={'key1':1996,'Bodyguard':1997,'Heman':True,'batman':(2,3,4),'Garfield':[4,6,9]}

In [11]:
#using clicing to find the value of a certain key
A['key1']

1996

**We can Find the total values in a dictionary by using dictionary.values()**

In [6]:
A.values()

dict_values([1996, 1997, True, (2, 3, 4), [4, 6, 9]])

**Similarly we can find out the keys in a dictionary by using dictionary.keys()**

In [8]:
A.keys()

dict_keys(['key1', 'Bodyguard', 'Heman', 'batman', 'Garfield'])

**Appending in a dictionary is simple just use dictionary['key_name']=value**

In [9]:
A['Monday']=2010

In [10]:
A

{'key1': 1996,
 'Bodyguard': 1997,
 'Heman': True,
 'batman': (2, 3, 4),
 'Garfield': [4, 6, 9],
 'Monday': 2010}

# Set

Sets are unique collections of objects in python.  
When we use set there is no repetetion of any objects in that set.  
We use `{}` to denote <span style='color:red'>set</span>

In [19]:
#Example
a={2,2,3,4,5,3,3,'bad','bad','billy'}

In [20]:
a

{2, 3, 4, 5, 'bad', 'billy'}

Here we can see how python deleted the duplicate values of the set `a`

## Set functions

We can use different operations in a set.  
<span style='color:green'>**We can use `.add(<element>)` to add element to a set:**</span>

In [13]:
#Taking the previos example set `a` again
a

{2, 3, 4, 5, 'bad', 'billy'}

In [14]:
a.add('mad')

In [15]:
a

{2, 3, 4, 5, 'bad', 'billy', 'mad'}

In [6]:
a.add('sad','gate')

TypeError: add() takes exactly one argument (2 given)

We can't add more than one element using `.add()` command.  
<span style="color:violet">**We have to use `.update([<elements>])` to add multiple elements in the set.**</span>

In [21]:
a.update(['sad','gate'])

In [22]:
a

{2, 3, 4, 5, 'bad', 'billy', 'gate', 'sad'}

**We can use `.remove(<element>)` to remove an element from the set**

In [23]:
a.remove('sad')

In [24]:
a

{2, 3, 4, 5, 'bad', 'billy', 'gate'}

### Logic Operations on Sets

In [26]:
# Sample Sets

album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsSamples.png" width="500" />

In [27]:
# Print two sets

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLogic.png" width = "500" />

In [28]:
# Find the intersections

intersection = album_set1 & album_set2
intersection

{'AC/DC', 'Back in Black'}

In [29]:
# Find the difference in set1 but not set2

album_set1.difference(album_set2)

{'Thriller'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsLeft.png" width="500" />

In [30]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsRight.png" width="500" />

In [31]:
# Use intersection method to find the intersection of album_list1 and album_list2

album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsIntersect.png" width="500" />

In [32]:
# Find the union of two sets

album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%202/Images/SetsUnion.png" width="500" />